@layout ProjectExportLayout
@inherits ProjectExportVM
@page "/projectexport"

<div id="projectexport-container" class="projectexport-container">
    
    @if (Project?.Apus is not null)
    {
        <div class="project-header">
            <h3 class="text-center">@Project.ProjectName</h3>
            <p class="text-center mb-2">@Project.Id</p>
            <p class="text-center">@DateTime.Now.ToString("MM-dd-yyyy hh:mm tt")</p>
        </div>



        @foreach (var Apu in Project.Apus)
        {
            <hr />

            <div class="mb-3">

                @* Item Description *@
                <table class="table table-bordered tab mb-2">
                    <thead>
                    <tr>
                        <th style="width: 40px;">No</th>
                        <th style="width: 560px; position: relative;">
                            Item Description
                        </th>
                        <th style="width: 100px;">Und.</th>
                        <th style="width: 100px;">Qty</th>
                        <th style="width: 100px;">Status</th>
                        <th style="width: 100px;">Calculations</th>
                        <th style="width: 200px;"></th>
                    </tr>
                    </thead>

                    <tbody>
                    @if (Apu is not null)
                    {
                        <tr>
                            <td class="text-center" style="padding: 0 !important;">
                            </td>
                            <td class="text-start">@Apu.Description</td>
                            <td class="text-center">@Apu.Unit</td>
                            <td>
                                <span>@Apu.Quantity.ToString("N2")</span>
                            </td>
                            <td>
                                @if (Apu.ItemId is >= 1 and <= 999)
                                {
                                    var bgcss = Apu.Status.Id switch
                                    {
                                        2 => "bg-clr-lightyellow",
                                        3 => "bg-clr-lightgreen",
                                        _ => ""
                                        };
                                    <span class="@(bgcss)">@Apu.Status.Name</span>
                                }
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>

                @* Performance *@
                <table class="table table-bordered tab mb-2">
                    <thead>
                    <tr>
                        <th class="" style="width: 40px; padding: 0 !important;">
                        </th>
                        <th style="width: 560px; position: relative;">
                            Performance
                        </th>
                        <th style="width: 100px;">Perf.</th>
                        <th style="width: 100px;">Hours</th>
                        <th style="width: 100px;">Hrs/Und.</th>
                        <th style="width: 100px;">Und/Days</th>
                        <th style="width: 100px;">Tot. Hours</th>
                        <th style="width: 100px;">Tot. Days</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Apu is not null)
                    {
                        <tr>
                            <td class="text-center" style="padding: 0 !important;">
                            </td>
                            <td class="position-relative bg-lightblue" style="padding: 0 !important; display: flex; flex-direction: row; text-align: left !important;">
                                <SfTextBox CssClass="bg-lightblue b-none br-0" Value="@Apu.ApuPerformances.FirstOrDefault()?.Description" Readonly="true" />
                            </td>
                            <td>@Apu?.ApuPerformances.FirstOrDefault()?.Value.ToN2()</td>
                            <td>@Apu?.ApuPerformances.FirstOrDefault()?.Hours.ToN4()</td>
                            <td>@Apu?.ApuPerformances.FirstOrDefault()?.HoursPerUnits.ToN4()</td>
                            <td>@Apu?.ApuPerformances.FirstOrDefault()?.UnitDays.ToN2()</td>
                            <td>@Apu?.ApuPerformances.FirstOrDefault()?.TotalHours.ToN2()</td>
                            <td>@Apu?.ApuPerformances.FirstOrDefault()?.TotalDays.ToN2()</td>
                        </tr>
                    }
                    </tbody>
                </table>

                @* Labor *@
                <table class="table table-bordered tab mb-2">
                    <thead>
                    <tr>
                        <th class="clickable" style="width: 40px; padding: 0 !important;">
                        </th>
                        <th class="clickable" style="width: 560px; position: relative;">
                            Labors
                        </th>
                        <th style="width: 100px;">Salary</th>
                        <th style="width: 100px;">Lab. Cost</th>
                        <th style="width: 100px;">Qty</th>
                        <th style="width: 100px;">Und/Hrs</th>
                        <th style="width: 100px;">Total</th>
                        <th style="width: 100px;">T. Extnd.</th>
                    </tr>
                    </thead>

                    <tbody>
                    @if (Apu is not null)
                    {
                        foreach (var labor in Apu.ApuLabors)
                        {
                            <tr>
                                <td class="text-center" style="padding: 0 !important;">
                                </td>
                                <td class="position-relative bg-lightblue" style="padding: 0 !important; display: flex; flex-direction: row; text-align: left !important;">
                                    <SfTextBox CssClass="bg-lightblue b-none br-0" Value="@labor.Description" Readonly="true" />
                                </td>
                                <td>@labor.Salary.ToDollar()</td>
                                <td>@labor.Cost.ToDollar()</td>
                                <td style="padding: 0 !important;">
                                    <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                      Value="@labor.Quantity"
                                                      Min="0" Format="n" ShowSpinButton="false" />
                                </td>
                                <td style="padding: 0 !important;">
                                    <SfDropDownList Readonly="true" CssClass="@("bg-lightblue b-none br-0")" TValue="int" TItem="LaborWorkType" DataSource="@LaborWorkTypeDefinitions.Collection" AllowFiltering="false"
                                                    Value="@labor.WorkTypeId">
                                        <DropDownListFieldSettings Value="@nameof(LaborWorkType.Id)" Text="@nameof(LaborWorkType.Name)" />
                                    </SfDropDownList>
                                </td>
                                <td>@labor.Total.ToDollar()</td>
                                <td>@labor.TotalExtend.ToDollar()</td>
                            </tr>
                        }

                                @* E1 *@
                        <tr>
                            <td colspan="3" style="text-align: left;">Labor Notes</td>
                            <td colspan="3">Sub-Total Labor:</td>
                            <td>@Apu?.LaborSum.SubTotal.ToDollar()</td>
                            <td>@Apu?.LaborSum.SubTotalExtend.ToDollar()</td>
                        </tr>
                                @* E2 *@
                        <tr>
                            <td colspan="3" rowspan="4" style="padding: 0 !important; vertical-align: top !important;">
                                <SfTextBox Readonly="true" CssClass="b-none br-0" Multiline="true" @bind-Value="@Apu.LaborNotes"
                                           HtmlAttributes="@(new Dictionary<string, object> { { "rows", 4 } })" />
                            </td>
                            <td colspan="2">Supervision:</td>
                            <td class="d-flex flex-row bg-lightblue" style="padding: 0 !important;">
                                <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                  Value="@Apu.SuperPercentage"
                                                  Min="0" Format="n" ShowSpinButton="false" />
                                <span class="my-auto me-1">%</span>
                            </td>
                            <td>@Apu?.LaborSum.SuperVision.ToDollar()</td>
                            <td>@Apu?.LaborSum.SuperVisionExtend.ToDollar()</td>
                        </tr>
                                @* E3 *@
                        <tr>
                            <td colspan="3" class="bg-darkblue">Sub-Total Labor & Supervision:</td>
                            <td class="bg-darkblue">@Apu?.LaborSum.SubTotalSuperVision.ToDollar()</td>
                            <td class="bg-darkblue">@Apu?.LaborSum.SubTotalSuperVisionExtend.ToDollar()</td>
                        </tr>
                                @* E4 *@
                        <tr>
                            <td colspan="2">Gross Margin Labor:</td>
                            <td class="d-flex flex-row bg-lightblue" style="padding: 0 !important;">
                                <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                  Value="@Apu.LaborGrossPercentage"
                                                  Min="0" Format="n" ShowSpinButton="false" />
                                <span class="my-auto me-1">%</span>
                            </td>
                            <td class="">@Apu?.LaborSum.GrossTotal.ToDollar()</td>
                            <td class="">@Apu?.LaborSum.GrossTotalExtend.ToDollar()</td>
                        </tr>
                                @* E5 *@
                        <tr>
                            <td colspan="3" class="bg-yellow">Total Labor & Supervision:</td>
                            <td class="bg-yellow">@Apu?.LaborSum.Total.ToDollar()</td>
                            <td class="bg-yellow">@Apu?.LaborSum.TotalExtend.ToDollar()</td>
                        </tr>
                    }
                    </tbody>
                </table>

                @* Material *@
                <table class="table table-bordered tab mb-2">
                    <thead>
                    <tr>
                        <th class="clickable" style="width: 40px; padding: 0 !important;">
                        </th>
                        <th class="clickable" style="width: 420px; position: relative;">
                            Materials
                        </th>
                        <th style="width: 40px;">S</th>
                        <th style="width: 100px;">Tot/Und</th>
                        <th style="width: 100px;">Und</th>
                        <th style="width: 100px;">Qty</th>
                        <th style="width: 100px;">Waste</th>
                        <th style="width: 100px;">Price</th>
                        <th style="width: 100px;">Total</th>
                        <th style="width: 100px;">T. Extend.</th>
                    </tr>
                    </thead>

                    <tbody>
                    @if (Apu is not null)
                    {
                        foreach (var material in Apu.ApuMaterials)
                        {
                            <tr>
                                <td class="text-center" style="padding: 0 !important;">
                                </td>
                                <td class="position-relative bg-lightblue" style="padding: 0 !important; display: flex; flex-direction: row; text-align: left !important;">
                                    <SfTextBox CssClass="bg-lightblue b-none br-0" Value="@material.Description" Readonly="true" />
                                </td>
                                <td style="text-align: center; padding: 0 !important;">
                                    @if (string.IsNullOrWhiteSpace(material.Link))
                                    {
                                        <SfButton CssClass="b-none br-0 w-39px" IconCss="e-icons e-icon-link" Disabled="true" />
                                    }
                                    else
                                    {
                                        <SfTooltip Content="@material.Link">
                                            <SfButton CssClass="b-none br-0 w-39px" IconCss="e-icons e-icon-link" @onclick="@(() => JS.OpenUrlInNewTab(material.Link))" />
                                        </SfTooltip>
                                    }
                                </td>
                                <td style="padding: 0 !important;">
                                    <SfDropDownList Readonly="true" CssClass="@("bg-lightblue b-none br-0")" TValue="int" TItem="ItemType" DataSource="@ItemTypeDefinitions.Collection" AllowFiltering="false"
                                                    Value="@material.ItemTypeId">
                                        <DropDownListFieldSettings Value="@nameof(ItemType.Id)" Text="@nameof(ItemType.Name)" />
                                    </SfDropDownList>
                                </td>
                                <td style="text-align: center;">@material.Unit</td>
                                <td style="padding: 0 !important;">
                                    <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                      Value="@material.Quantity"
                                                      Min="0" Format="n" ShowSpinButton="false" />
                                </td>
                                <td class="d-flex flex-row bg-lightblue" style="padding: 0 !important;">
                                    <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                      Value="@material.Waste"
                                                      Min="0" Format="n" ShowSpinButton="false" />
                                    <span class="my-auto me-1">%</span>
                                </td>
                                <td>@material.Price.ToDollar()</td>
                                <td>@material.Total.ToDollar()</td>
                                <td>@material.TotalExtend.ToDollar()</td>
                            </tr>
                        }

                                @* E1 *@
                        <tr>
                            <td colspan="5" style="text-align: left;">Material Notes</td>
                            <td colspan="3">Sub-Total Materials:</td>
                            <td>@Apu?.MaterialSum.SubTotal.ToDollar()</td>
                            <td>@Apu?.MaterialSum.SubTotalExtend.ToDollar()</td>
                        </tr>
                                @* E2 *@
                        <tr>
                            <td colspan="5" rowspan="4" style="padding: 0 !important; vertical-align: top !important;">
                                <SfTextBox Readonly="true" CssClass="b-none br-0" Multiline="true" @bind-Value="@Apu.MaterialNotes"
                                           HtmlAttributes="@(new Dictionary<string, object> { { "rows", 4 } })" />
                            </td>
                            <td colspan="2">Sales tax:</td>
                            <td>@Project?.SalesTax.ToPercentage()</td>
                            <td>@Apu?.MaterialSum.SalesTotal.ToDollar()</td>
                            <td>@Apu?.MaterialSum.SalesTotalExtend.ToDollar()</td>
                        </tr>
                                @* E3 *@
                        <tr>
                            <td colspan="3" class="bg-darkblue">Sub-Total Material with SalesTax:</td>
                            <td class="bg-darkblue">@Apu?.MaterialSum.SubTotalSalesTotal.ToDollar()</td>
                            <td class="bg-darkblue">@Apu?.MaterialSum.SubTotalSalesTotalExtend.ToDollar()</td>
                        </tr>
                                @* E4 *@
                        <tr>
                            <td colspan="2">Gross Margin Material:</td>
                            <td class="d-flex flex-row bg-lightblue" style="padding: 0 !important;">
                                <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                  Value="@Apu.MaterialGrossPercentage"
                                                  Min="0" Format="n" ShowSpinButton="false" />
                                <span class="my-auto me-1">%</span>
                            </td>
                            <td>@Apu?.MaterialSum.GrossTotal.ToDollar()</td>
                            <td>@Apu?.MaterialSum.GrossTotalExtend.ToDollar()</td>
                        </tr>
                                @* E5 *@
                        <tr>
                            <td colspan="3" class="bg-yellow">Total Materials:</td>
                            <td class="bg-yellow">@Apu?.MaterialSum.Total.ToDollar()</td>
                            <td class="bg-yellow">@Apu?.MaterialSum.TotalExtend.ToDollar()</td>
                        </tr>
                    }
                    </tbody>
                </table>

                @* Equipment *@
                <table class="table table-bordered tab mb-2">
                    <thead>
                    <tr>
                        <th class="clickable" style="width: 40px; padding: 0 !important;">
                        </th>
                        <th class="clickable" style="width: 520px; position: relative;">
                            Equipments
                        </th>
                        <th style="width: 40px;">S</th>
                        <th style="width: 100px;">Tot./Und</th>
                        <th style="width: 100px;">Und</th>
                        <th style="width: 100px;">Qty</th>
                        <th style="width: 100px;">Price</th>
                        <th style="width: 100px;">Total</th>
                        <th style="width: 100px;">T. Extend.</th>
                    </tr>
                    </thead>

                    <tbody>
                    @if (Apu is not null)
                    {
                                @* Equipment Small Tools *@
                        <tr>
                            <td colspan="3"></td>
                            <td class="">Small Tools:</td>
                            <td class=""></td>
                            <td class="">@Project?.Tools.ToPercentage()</td>
                            <td class=""></td>
                            <td class="">@Apu?.EquipmentSmallTools.Total.ToDollar()</td>
                            <td class="">@Apu?.EquipmentSmallTools.TotalExtend.ToDollar()</td>
                        </tr>

                        foreach (var equipment in Apu.ApuEquipments)
                        {
                            <tr>
                                <td class="text-center" style="padding: 0 !important;">
                                </td>
                                <td class="position-relative bg-lightblue" style="padding: 0 !important; display: flex; flex-direction: row; text-align: left !important;">
                                    <SfTextBox CssClass="bg-lightblue b-none br-0" Value="@equipment.Description" Readonly="true" />
                                </td>
                                <td style="text-align: center; padding: 0 !important;">
                                    @if (string.IsNullOrWhiteSpace(equipment.Link))
                                    {
                                        <SfButton CssClass="b-none br-0 w-39px" IconCss="e-icons e-icon-link" Disabled="true" />
                                    }
                                    else
                                    {
                                        <SfTooltip Content="@equipment.Link">
                                            <SfButton CssClass="b-none br-0 w-39px" IconCss="e-icons e-icon-link" @onclick="@(() => JS.OpenUrlInNewTab(equipment.Link))" />
                                        </SfTooltip>
                                    }
                                </td>
                                <td style="padding: 0 !important;">
                                    <SfDropDownList Readonly="true" CssClass="@("bg-lightblue b-none br-0")" TValue="int" TItem="ItemType" DataSource="@ItemTypeDefinitions.Collection" AllowFiltering="false"
                                                    Value="@equipment.ItemTypeId">
                                        <DropDownListFieldSettings Value="@nameof(ItemType.Id)" Text="@nameof(ItemType.Name)" />
                                    </SfDropDownList>
                                </td>
                                <td style="text-align: center;">@equipment.Unit</td>
                                <td style="padding: 0 !important;">
                                    <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                      Value="@equipment.Quantity"
                                                      Min="0" Format="n" ShowSpinButton="false" />
                                </td>
                                <td>@equipment.Price.ToDollar()</td>
                                <td>@equipment.Total.ToDollar()</td>
                                <td>@equipment.TotalExtend.ToDollar()</td>
                            </tr>
                        }

                                @* E1 *@
                        <tr>
                            <td colspan="4" style="text-align: left;">Equipments Notes:</td>
                            <td colspan="3" class="bg-darkblue">Sub-Total Equipments:</td>
                            <td class="bg-darkblue">@Apu?.EquipmentSum.SubTotal.ToDollar()</td>
                            <td class="bg-darkblue">@Apu?.EquipmentSum.SubTotalExtend.ToDollar()</td>
                        </tr>
                                @* E2 *@
                        <tr>
                            <td colspan="4" rowspan="2" style="padding: 0 !important; vertical-align: top !important;">
                                <SfTextBox Readonly="true" CssClass="b-none br-0" Multiline="true" @bind-Value="@Apu.EquipmentNotes"
                                           HtmlAttributes="@(new Dictionary<string, object>{ {"rows", 2} })" />
                            </td>
                            <td colspan="2">Gross Margin Equipments:</td>
                            <td class="d-flex flex-row bg-lightblue" style="padding: 0 !important;">
                                <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                  Value="@Apu.EquipmentGrossPercentage"
                                                  Min="0" Format="n" ShowSpinButton="false" />
                                <span class="my-auto me-1">%</span>
                            </td>
                            <td class="">@Apu?.EquipmentSum.GrossTotal.ToDollar()</td>
                            <td class="">@Apu?.EquipmentSum.GrossTotalExtend.ToDollar()</td>
                        </tr>
                                @* E3 *@
                        <tr>
                            <td colspan="3" class="bg-yellow">Total Equipments:</td>
                            <td class="bg-yellow">@Apu?.EquipmentSum.Total.ToDollar()</td>
                            <td class="bg-yellow">@Apu?.EquipmentSum.TotalExtend.ToDollar()</td>
                        </tr>
                    }
                    </tbody>
                </table>

                @* Contracts *@
                <table class="table table-bordered tab mb-2">
                    <thead>
                    <tr>
                        <th class="clickable" style="width: 40px; padding: 0 !important;">
                        </th>
                        <th class="clickable" style="width: 520px; position: relative;">
                            Contracts
                        </th>
                        <th style="width: 40px;">S</th>
                        <th style="width: 100px;">Tot./Und</th>
                        <th style="width: 100px;">Und</th>
                        <th style="width: 100px;">Qty</th>
                        <th style="width: 100px;">Price</th>
                        <th style="width: 100px;">Total</th>
                        <th style="width: 100px;">T. Extend.</th>
                    </tr>
                    </thead>

                    <tbody>
                    @if (Apu is not null)
                    {
                        foreach (var contract in Apu.ApuContracts)
                        {
                            <tr>
                                <td class="text-center" style="padding: 0 !important;">
                                </td>
                                <td class="position-relative bg-lightblue" style="padding: 0 !important; display: flex; flex-direction: row; text-align: left !important;">
                                    <SfTextBox CssClass="bg-lightblue b-none br-0" Value="@contract.Description" Readonly="true" />
                                </td>
                                <td style="text-align: center; padding: 0 !important;">
                                    @if (string.IsNullOrWhiteSpace(contract.Link))
                                    {
                                        <SfButton CssClass="b-none br-0 w-39px" IconCss="e-icons e-icon-link" Disabled="true" />
                                    }
                                    else
                                    {
                                        <SfTooltip Content="@contract.Link">
                                            <SfButton CssClass="b-none br-0 w-39px" IconCss="e-icons e-icon-link"
                                                      @onclick="@(() => JS.OpenUrlInNewTab(contract.Link))" />
                                        </SfTooltip>
                                    }
                                </td>
                                <td style="padding: 0 !important;">
                                    <SfDropDownList Readonly="true" CssClass="@("bg-lightblue b-none br-0")" TValue="int" TItem="ItemType" DataSource="@ItemTypeDefinitions.Collection" AllowFiltering="false"
                                                    Value="@contract.ItemTypeId">
                                        <DropDownListFieldSettings Value="@nameof(ItemType.Id)" Text="@nameof(ItemType.Name)" />
                                    </SfDropDownList>
                                </td>
                                <td style="text-align: center;">@contract.Unit</td>
                                <td style="padding: 0 !important;">
                                    <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                      Value="@contract.Quantity"
                                                      Min="0" Format="n" ShowSpinButton="false" />
                                </td>
                                <td>@contract.Price.ToDollar()</td>
                                <td>@contract.Total.ToDollar()</td>
                                <td>@contract.TotalExtend.ToDollar()</td>
                            </tr>
                        }

                                @* E1 *@
                        <tr>
                            <td colspan="4" style="text-align: left;">Contracts Notes:</td>
                            <td colspan="3" class="bg-darkblue">Sub-Total Contracts:</td>
                            <td class="bg-darkblue">@Apu?.ContractSum.SubTotal.ToDollar()</td>
                            <td class="bg-darkblue">@Apu?.ContractSum.SubTotalExtend.ToDollar()</td>
                        </tr>
                                @* E2 *@
                        <tr>
                            <td colspan="4" rowspan="2" style="padding: 0 !important; vertical-align: top !important;">
                                <SfTextBox Readonly="true" CssClass="b-none br-0" Multiline="true" @bind-Value="@Apu.ContractNotes"
                                           HtmlAttributes="@(new Dictionary<string, object>{ {"rows", 2} })" />
                            </td>
                            <td colspan="2">Gross Margin Contracts:</td>
                            <td class="d-flex flex-row bg-lightblue" style="padding: 0 !important;">
                                <SfNumericTextBox Readonly="true" TValue="decimal" CssClass="sf-ntb-align-right fs-0p8rem bg-lightblue b-none br-0"
                                                  Value="@Apu.SubcontractorGrossPercentage"
                                                  Min="0" Format="n" ShowSpinButton="false" />
                                <span class="my-auto me-1">%</span>
                            </td>
                            <td class="">@Apu?.ContractSum.GrossTotal.ToDollar()</td>
                            <td class="">@Apu?.ContractSum.GrossTotalExtend.ToDollar()</td>
                        </tr>
                                @* E3 *@
                        <tr>
                            <td colspan="3" class="bg-yellow">Total Contracts:</td>
                            <td class="bg-yellow">@Apu?.ContractSum.Total.ToDollar()</td>
                            <td class="bg-yellow">@Apu?.ContractSum.TotalExtend.ToDollar()</td>
                        </tr>
                    }
                    </tbody>
                </table>

                @if (Apu is not null)
                {
                        @* Sub-Total Unitari Cost: *@
                    <table class="table table-bordered tab mb-2">
                        <thead>
                        <tr class="bg-darkblue">
                            <th style="width: 1000px;" class="text-end">Sub-Total Unitari Cost:</th>
                            <th style="width: 100px;" class="text-end">@Apu?.Sum.SubTotal.ToDollar()</th>
                            <th style="width: 100px;" class="text-end">@Apu?.Sum.SubTotalExtend.ToDollar()</th>
                        </tr>
                        </thead>
                    </table>

                        @* Total General gross: *@
                    <table class="table table-bordered tab mb-2">
                        <thead>
                        <tr>
                            <th style="width: 900px;" class="text-end">Total General gross:</th>
                            <th style="width: 100px;" class="text-end">@Apu?.Sum.GrossTotalPct.ToPercentage()</th>
                            <th style="width: 100px;" class="text-end">@Apu?.Sum.GrossTotal.ToDollar()</th>
                            <th style="width: 100px;" class="text-end">@Apu?.Sum.GrossTotalExtend.ToDollar()</th>
                        </tr>
                        </thead>
                    </table>

                        @* Total General: *@
                    <table class="table table-bordered tab mb-2">
                        <thead>
                        <tr class="bg-yellow">
                            <th style="width: 1000px;" class="text-end">Total General:</th>
                            <th style="width: 100px;" class="text-end">@Apu?.Sum.Total.ToDollar()</th>
                            <th style="width: 100px;" class="text-end">@Apu?.Sum.TotalExtend.ToDollar()</th>
                        </tr>
                        </thead>
                    </table>
                }

            </div>

       @*     <hr />*@
        }

    }
</div>