@inherits DlgContractManagerVM

<SfDialog @bind-Visible="@IsVisible" IsModal="true" Width="400px" Target="@Target" CloseOnEscape="false">

    <DialogTemplates>
        <Header>
            <span>@Mode.Name Contract</span>
        </Header>
        <Content>
            
            <EditForm @ref="@Form" Model="@Contract">
                <DataAnnotationsValidator />

                <div class="d-flex mb-1">
                    <span class="me-2 mt-4px wmm-95px text-end">Description:</span>
                    <div class="w-100">
                        <SfTextBox @bind-Value="@Contract.Description" Placeholder="Description" Multiline="true"/>
                        <div style="font-size: 13px; color: red;">
                            <ValidationMessage For="@(() => Contract.Description)"/>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex mb-1">
                    <span class="me-2 mt-4px wmm-95px text-end">Unit:</span>
                    <div class="w-100">
                        <SfTextBox @bind-Value="@Contract.Unit" Placeholder="Unit"/>
                        <div style="font-size: 13px; color: red;">
                            <ValidationMessage For="@(() => Contract.Unit)"/>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex mb-1">
                    <span class="me-2 mt-4px wmm-95px text-end">Qty:</span>
                    <div class="w-100">
                        <SfNumericTextBox @bind-Value="@Contract.Quantity" Placeholder="Qty" Min="0" Format="0" ShowSpinButton="false"/>
                        <div style="font-size: 13px; color: red;">
                            <ValidationMessage For="@(() => Contract.Quantity)"/>
                        </div>
                    </div>
                </div>
                                    
                <div class="d-flex mb-1">
                    <span class="me-2 mt-4px wmm-95px text-end">Price:</span>
                    <div class="w-100">
                        <SfNumericTextBox @bind-Value="@Contract.Price" Placeholder="Price" Min="0" Format="c2" Currency="USD" ShowSpinButton="false"/>
                        <div style="font-size: 13px; color: red;">
                            <ValidationMessage For="@(() => Contract.Price)"/>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex mb-1">
                    <span class="me-2 mt-4px wmm-95px text-end">Vendor:</span>
                    <div class="w-100">
                        <SfTextBox @bind-Value="@Contract.Vendor" Placeholder="Vendor"/>
                        <div style="font-size: 13px; color: red;">
                            <ValidationMessage For="@(() => Contract.Vendor)"/>
                        </div>
                    </div>
                </div>

                <div class="d-flex mb-1">
                    <span class="me-2 mt-4px wmm-95px text-end">Phone:</span>
                    <div class="w-100">
                        <SfTextBox @bind-Value="@Contract.Phone" Placeholder="Phone"/>
                        <div style="font-size: 13px; color: red;">
                            <ValidationMessage For="@(() => Contract.Phone)"/>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex">
                    <span class="me-2 mt-4px wmm-95px text-end">Link:</span>
                    <div class="w-100">
                        <SfTextBox @bind-Value="@Contract.Link" Placeholder="Link" Type="@InputType.URL" Multiline="true"/>
                        <div style="font-size: 13px; color: red;">
                            <ValidationMessage For="@(() => Contract.Link)"/>
                        </div>
                    </div>
                </div>

            </EditForm>
            
            <div class="d-flex justify-content-end mt-2">
                <SfButton Content="Cancel" OnClick="@DialogCancel"/>
                @foreach(var (button, mode) in Mode.Buttons)
                {
                    <SfButton CssClass="ms-2" Content="@button" @onclick="@(() => DialogSubmit(mode))"/>
                }
            </div>

        </Content>
    </DialogTemplates>

</SfDialog>