@layout PublicLayout
@inherits ForgotPasswordVM
@page "/forgotpassword"

<PageTitle>Forgot Password | TechGroupOne</PageTitle>

<div class="forgotpassword-container">
    <div class="forgotpassword-form">
        <EditForm Model="@Model" OnValidSubmit="@CreatePasswordRecoveryLink">
            <DataAnnotationsValidator />
            
            <div class="d-flex flex-column">
                
                <div class="mx-2 mb-3">   
                    <div class="forgotpassword-logo"/>
                </div>
                
                @if (string.IsNullOrWhiteSpace(ValidMessage))
                {
                    <div class="mb-2 d-flex flex-column">
                        <label class="mb-1 text-center" for="first-name">Please type your email</label>
                        <SfTextBox ID="first-name" @bind-Value="Model.Email" Type="@InputType.Email" Placeholder="Email"/>
                        <div style="font-size: 0.8rem; color: red;">
                            <ValidationMessage For="@(() => Model.Email)"/>
                        </div>
                    </div>

                    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                    {
                        <p style="text-align: center; font-size: 0.9rem; color: red;">@ErrorMessage</p>
                    }

                    <SfButton CssClass="mx-auto mb-2" Content="Generate Password Recovery Link" IsPrimary="true"/>
                }
                else
                {
                    <span class="m-auto text-center" style="width: 240px; color: green; line-height: 1.3rem;">@ValidMessage</span>
                }


            </div>

        </EditForm>
    </div>
</div>