@layout AppLayout
@inherits PasswordRecoveryVM
@page "/passwordrecovery"
@page "/passwordrecovery/{PasswordRecoveryId:guid}"

<PageTitle>Forgot Password | TechGroupOne</PageTitle>

<div class="passwordrecovery-container">
    
    
    <div class="passwordrecovery-form">
        <EditForm Model="@Model" OnValidSubmit="@UpdatePassword">
            <DataAnnotationsValidator/>

            <div class="d-flex flex-column">

                <div class="mx-2 mb-3">
                    <div class="passwordrecovery-logo"/>
                </div>
                
                @if (IsLoading)
                {
                    <span class="text-center" style="font-size: 1.1rem;">Preparing...</span>
                }
                
                else if (!string.IsNullOrWhiteSpace(LinkErrorMessage))
                {
                    <span class="text-center" style="color: red; font-size: 1.1rem;">@LinkErrorMessage</span>
                }

                else
                {
                    <p class="mx-auto my-0" style="text-decoration: underline;">Password Reset For</p>
                    <p class="mx-auto my-0" style="font-weight: 500;">@User.Name</p>
                    <p class="mx-auto mt-0 mb-1" style="font-weight: 500;">@User.Email</p>

                    @if (string.IsNullOrWhiteSpace(ValidMessage))
                    {
                        <div class="mb-2 d-flex flex-column">
                            <label class="mb-1" for="@(nameof(Model.Password))">Password:</label>
                            <SfTextBox ID="first-name" @bind-Value="Model.Password" Type="@InputType.Password" Placeholder="Password"/>
                            <div style="font-size: 0.8rem; color: red;">
                                <ValidationMessage For="@(() => Model.Password)"/>
                            </div>
                        </div>

                        <div class="mb-2 d-flex flex-column">
                            <label class="mb-1" for="@(nameof(Model.ConfirmPassword))">Confirm Password:</label>
                            <SfTextBox ID="first-name" @bind-Value="Model.ConfirmPassword" Type="@InputType.Password" Placeholder="Confirm Password"/>
                            <div style="font-size: 0.8rem; color: red;">
                                <ValidationMessage For="@(() => Model.ConfirmPassword)"/>
                            </div>
                        </div>

                        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                        {
                            <p style="text-align: center; font-size: 0.9rem; color: red;">@ErrorMessage</p>
                        }

                        <SfButton CssClass="mx-auto mb-2" Content="Update Password" IsPrimary="true"/>
                    }
                    else
                    {
                        <span class="m-auto text-center" style="width: 240px; color: green; line-height: 1.3rem;">@ValidMessage</span>
                    }                    
                }

            </div>

        </EditForm>
    </div>

</div>